/*Media Queries*/

@media screen and (max-width: 768px) {
    
    /*Index*/

    .nombrelogo{
        width: 200px;
        margin-top: -3rem;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1,fr);
        justify-content: center;
       grid-template-areas:"text" "img";
    }

    .textind{
        margin-top: -7rem;
    }

    .tiendt{
        
        text-align: center;
    }

    .img{
        width: 100%;
    }

    .face{
        width: 10%;
    }

    .insta{
        width: 10%;
    }

    .arcatind{
        justify-content: center;
    }


    /*footer*/
    .copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }
    
    .copyright p{
        margin-top: 20px;
        color: #ffffff;
    }
    
    .copyright hr{
    border: none;
    height: 1px;
    background-color: #ffffff;
    }

    /*Nosotros*/

    .lognosot{
        width:100% ;
        margin-bottom: 5rem;
    }

    .gridnos{
        display: grid;
        grid-template-columns: repeat(1,fr);
       grid-template-areas:"gridnos ";
    }

    .textn{
        margin-top:-4rem ;
    }

    .video{
        width: 100%;
        justify-content: center;
    }


    /*Tienda*/

    .gridtiend{
        display: grid;
        grid-template-columns: repeat(1,fr);
       grid-template-areas:"text" "img";
    }

  
    /*Galeria*/

    .gridgale{
        display: grid;
        grid-template-columns: repeat(1,fr);
       grid-template-areas:"text" "img";
    }

    /*Contacto*/

    .consulta{
        text-align: center;
    }

    .gridcont{
        display: grid;
        grid-template-columns: repeat(1,fr);
       grid-template-areas:"text" "img";
    }

    .gridcont{
        justify-content: center;
    }

}

@media screen and (min-width: 1200px) {}